main{
    margin: 0 auto;
    max-width: 1600px;
    width: 92%;
    padding-top: 58px;
}

h1{ @include font-set(h1); }
h2{ @include font-set(h2); }
h3{ @include font-set(h3); }

body, p{ @include font-set(body); }

html{
    background-color: $c-black;
}

body{
    background-color: $c-white;
    line-height: 1;
}

p{
    margin: 8px 0;
}

small{ @include font-set(small); }


.clearList{
    ul, li{
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

a{
    color: $c-black;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

.icon{
    width: 24px;
    height: 24px;;

    &.large{
        width: 32px;
        height: 32px;
    }
}

.button{
    display: inline-block;
    background-color: $c-black;
    color: $c-white;
    @include font-set(tiny);
    line-height: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    position: relative;

    &.light{
        background-color: $c-border;
        color: $c-ink;

        &:hover{
            background-color: $c-silver;
            color: $c-snow;
        }
    }

    &:hover{
        text-decoration: none;
        background-color: black;
    }

    &.dir{
        svg{
            display: block;
            content: "";
            width: 24px;
            height: 24px;
            position: absolute;
            left: 8px;
            top: 50%;
            transform: translateY(-50%);
        }

        padding-left: 38px;
    }
}

.breadcrumb{
    @include font-set(tiny);
    padding: 24px 0;
    
    color: $c-silver;
}

a.bookmark{
    display: block;
}

.fadeout{
    transition: opacity .455s ease;
    opacity: 0;
}

#container{
    min-height: 55vh;
}