main{
    margin: 0 auto;
    max-width: 1600px;
    width: 94%;
}

h1{ @include font-set(h1); }
h2{ @include font-set(h2); }
h3{ @include font-set(h3); }

body, p{ @include font-set(body); }

p{
    margin: 8px 0;
}

small{ @include font-set(small); }


.clearList{
    ul, li{
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

a{
    color: $c-black;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}