.item-article{
    padding: 20px 0 10px 0;
    .right{
        p{
            display: none;
        }
    }
}
.item-book{
    .left{
        max-width: 80px;
    }
}


section.col-two{
    flex-direction: column-reverse;
}

section.book .section-body{
    grid-template-columns: 1fr;
    .right{
        .item-footer{
            display: none;
        }
    }
}

section.video{
    .section-body{
        display: flex;
        overflow-x: scroll;
        &::-webkit-scrollbar{
            display: none;
        }
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;

        position:relative;
        transform: translateX(-4%);
        width: 100vw;
        padding: 0 4%;
        box-sizing: border-box;
        gap: 24px;

        .box{
            min-width: 260px;
        }
    }
}

section{
    section:first-child{
        display: none;
    }
    .article{
        .section-head{
            margin-top: 0;
            padding: 0 0 30px 0;
            opacity: 0;
        }
        .section-body{
            .box{
                &:first-child{
                    position: relative;
                    border-bottom: none;
                    article{
                        flex-direction: column-reverse;
                        .left{
                            position:relative;
                            transform: translateX(-4%);
                            width: 100vw;
                            max-width: none;
                            margin: 8px 0 20px;
                        }
                        .right{
                            h3{
                                padding-right: 30px;
                                @include font-set(h1);
                            }
                            p{
                                display: -webkit-box;
                                -webkit-line-clamp: 3;
                            }
                        }
                        .bookmark-holder{
                            position: absolute;
                            top: 20px;
                            right: 0;
                        }
                    }
                }
                article{
                    .left{
                        width: 90px;
                        margin-right: 16px;
                    }
                    .right{
                        p{
                            display: none;
                        }
                        .item-footer{
                            .date{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.page-head{
    padding: 10px 0 20px 0;
}

.section-head{
    margin-top: 40px;
}

.section-foot{
    padding: 30px 0 0 0;
    text-align: center;
}

.list-col2{
    display: flex;
    flex-direction: column-reverse;
}

.list{
    .list-left{
        .cloud{
            display: block;
            a{
                display: inline-block;
                margin-right: 8px;
            }
        }
    }
    .list-right{
        margin-top: 20px;
    }

    &.books{
        .list-right{
            display: flex;
            flex-direction: column;
            grid-gap: 20px 5%;

            .box{
                padding-bottom: 20px;
            }
        }
    }
}

.category{
    .item-article{
        flex-direction: column;
        padding: 0 0 40px 0;
        .left{
            width: 100%;
            max-width: none;
            margin: 0;
        }
    }
}

.single{
    .post-book{
        flex-direction: column;
        .left{
            padding: 0 0 30px 0;
            img{
                max-width: 120px;
            }
        }
    }
    .post-topic{
        flex-direction: column;
        .left{
            padding: 0 0 30px 0;
        }

        &>.right{
            .post-body{
                .collection{
                    padding: 20px 0;

                    &>span{
                        display: none;
                    }
                }
            }
        }
    }
}