.section-head{
    width: 100%;
    border-top: 1px solid $c-border;
    padding: 20px 0 50px 0;
    margin-top: 80px;
}

.section-foot{
    padding: 40px 0 0 0;
    text-align: right;

    &.left{
        text-align: left;
    }
}

section.col-two{
    display: flex;
    flex-direction: row-reverse;

    section:first-child{
        min-width: 280px;
        margin-left: calc(min(8%, 160px));
        max-width: 20%;
    }

    section:nth-child(2){
        flex: 1;
    }

    .section-head{
        margin-top: 20px;
        border-top: none;
    }
}

.item{
    display: flex;

    .left{
        img{
            max-width: 100%;
            height: auto;
        }
    }

    .right{
        flex: 1;
        display: flex;
        flex-direction: column;

        .item-body{
            flex-grow: 1;

            p{
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        .item-footer ul{
            
            list-style: none;
            padding: 8px 0 12px 0;
            margin: 0;

            li{
                list-style: none;
                padding: 0;
                margin: 0;
                margin-right: $s-small;
                display: inline-block;
                vertical-align: middle;

                &.zero{
                    font-size: 0;
                    margin-right: 4px;
                }
            }

            li, a{
                @include font-set(tiny);
            }
        }
    }
}

.item-article{
    border-top: 1px solid $c-border;
    padding: 20px 0;
    
    &:first-of-type{
        border-top: none;
    }
    
    .left{
        width: 30%;
        max-width: 260px;
        margin-right: 24px;
    }

    .right{
        .item-body p{
            -webkit-line-clamp: 2;
            max-width: 740px;
        }
    }
}

.item-topic{
    flex-direction: column;

    .right{
        flex-direction: column-reverse;

        .item-body p{
            -webkit-line-clamp: 5;
        }

        .item-footer{
            border-bottom: 1px solid $c-border;
            margin-bottom: 16px;

            ul{
                li:last-child{
                    margin-right: 0;
                    flex-grow: 1;
                    text-align: right;
                }
            }
        }
    }
}

.item-book{
    .left{
        max-width: 100px;
        margin-right: 24px;
    }
}

.item-video{
    flex-direction: column;
    position: relative;

    .right{
        flex-direction: column-reverse;

        .item-footer{
            border-bottom: 1px solid $c-border;
        }

        .item-body{
            margin-top: 10px;
            h3{
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                -webkit-line-clamp: 2;
                height: 48px;
                
            }
            .excerpt{
                display: none;
            }
            .terms{
                margin-top: 20px;
                @include font-set(tiny);
                a{ color: $c-silver; }

                div{
                    float: right;
                    // display: none;
                }
            }
        }
    }

    .bookmark-holder{
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 0;
    }
}

.post{
    &>.left{
        margin: 0 auto;
        font-size: 0;
        img{
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }
    &>.right{
        margin: 0 auto;

        .post-head{
            display: flex;
            flex-direction: column-reverse;
            h1{
                margin: 40px auto;
                max-width: 740px;
                width: 100%;
            }
            .post-meta{
                border-bottom: 1px solid $c-border;
                padding: 16px 0;
                
                ul{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    @include font-set(tiny);
                    color: $c-light;
                    min-height: 24px;

                    li{
                        margin-right: 20px;
                        line-height: 24px;

                        &.extend{
                            flex: 1;
                        }
                    }
                }
            }
        }
        .post-body{
            margin: 0 auto;
            max-width: 740px;

            p{
                padding: 10px 0;
                @include font-set(large);
            }
        }
        .post-foot{
            @include font-set(small);
            margin: 40px auto;
            max-width: 740px;
        }
    }
}

.post-article{
    .left{
        max-width: 1000px;
    }
    .right{
        max-width: 1000px;
    }
}

.post-book{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    .left{
        flex: 3;
        box-sizing: border-box;
        padding-right: 5%;
    }
    .right{
        .post-head{
            flex-direction: column;
            h1{
                max-width: none;
                margin: 0 0 20px 0;
            }
            .post-meta{
                border-top: 1px solid $c-border;
                margin-top: 20px;
            }
        }
        .post-body{
            margin-top: 40px;
        }
    }
}

.post-topic{
    display: flex;
   &>.left{
        flex: 3;
        box-sizing: border-box;
        padding-right: 5%;
        position: relative;

        img{
            position: sticky;
            top: 120px;
        }
    }
    &>.right{
        flex: 7;
        max-width: 1000px;
        .post-head{
            flex-direction: column;
            h1{
                max-width: none;
                margin: 0 0 20px 0;
            }
            .post-meta{
                border-top: 1px solid $c-border;
                margin-top: 40px;
            }
            p{
                @include font-set(large);
                
            }
        }
        .post-body{
            max-width: none;
            margin-top: 20px;

            p{
                @include font-set(body);
                padding: 0;
            }

            .collection{
                padding: 20px 0 20px 60px;

                &>span{
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    @include font-set(small);
                    display: block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background-color: $c-border;
                    border-radius: 20px;
                    transition: all .4s ease;
                }

                &:hover>span{
                    background-color: $c-light;
                    color: $c-white;
                }
            }
        }
    }
}

.collection{
    position: relative;
    padding: 20px 0 20px 0px;
    border-bottom: 1px solid $c-border;

    .item-body{
        p{
            max-width: 740px;
        }
    }

    .item-article{
        padding: 0;
    }
    .item-book{
        max-width: none;
        .left{
            width: 30%;
            max-width: 260px;
            margin-right: 24px;
            a{
                display: block;
                max-width: 100px;
                margin: 0 auto;
            }
        }
    }
    .item-topic{
        flex-direction: row;
        .left{
            width: 30%;
            max-width: 260px;
            margin-right: 24px;
        }
        .right{
            flex-direction: column;
            .item-footer{
                border:none;
                margin: 0;
            }
        }
    }
    .item-video{
        max-width: none;
        flex-direction: row;
        .left{
            width: 30%;
            max-width: 260px;
            margin-right: 24px;
        }
        .right{
            flex-direction: column;
            .item-body{
                margin-top: 0;
            }
            .item-footer{
                border:none;
            }
        }
    }

}

.post-video{
    .left{
        max-width: 1000px;
        .embed-video{
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            max-width: 100%;

            iframe{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    .right{
        max-width: 1000px;
    }
}

.page-head{
    border-bottom: 1px solid $c-border;
    padding: 20px 0 40px 0;
}

.list{
    &-col2{
        display: grid;
        grid-template-columns: 280px 1fr;
        column-gap: 30px;
    }

    &-col1{

    }

    .list-left{
        margin-top: 60px;
        h3{
            margin-bottom: 20px;
        }
        .cloud{
            
            display: flex;
            flex-direction: column;

            a{
                @include font-set(body);
                margin-bottom: 4px;
            }
        }
        .category{
            margin-bottom: 40px;
            ul{
                list-style: none;
                padding: 0;
                margin: 0;
                li{
                    margin-bottom: 4px;

                    a{
                        line-height: 1.4em;

                        &.active{
                            opacity: .5;
                        }
                    }
                }
            }
        }
    }
    .list-right{
        margin-top: 40px;
    }

    &.topics .list-right{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
        grid-gap: 60px 2%;
    }
    &.books .list-right{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-gap: 40px 5%;
        .box{
            padding-bottom: 30px;
            border-bottom: 1px solid $c-border;
        }
    }
    &.videos .list-right{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
        grid-gap: 40px 2%;
        .box{
            padding-bottom: 30px;
        }
    }
}

section{
    &.topic .section-body{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
        grid-gap: 60px 2%;
    }
    &.book .section-body{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-gap: 40px 5%;
    }
    &.article .section-body{
        .box{
            border-bottom: 1px solid $c-border;
            &:last-child{
                border-bottom: none;
            }
        }
    }
    &.video .section-body{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
        grid-gap: 40px 1%;
    }
}

.page-content{
    max-width: 1000px;
    margin: 0 auto;

    img{
        margin: 20px 0;
        max-width: 100%;
        height: auto;
    }
    .page-body{
        max-width: 740px;
    }
}

.page-terms{
    .page-body{
        padding: 40px 0;
        column-count: 4;
        column-gap: 10%;
        a{
            display: block;
        }
        h3{
            margin-top: 20px;

            &:first-child{
                margin-top: 0;
            }
        }
    }
}

.aya{
    border-radius: 4px;
    overflow: hidden;

    div{
        background-color: $c-border;
        padding: 16px;
        @include font-set(quran);
        text-align: right;
    }
    ul{
        background-color: $c-silver;
        list-style: none;
        padding: 8px 0;
        margin: 0;
        display: flex;

        li{
            margin: 0 8px;
            @include font-set(tiny);
            color: $c-white;
        }

        li:last-child{
            flex: 1;
            text-align: right;
        }
    }
}


.sura-list{
    display: none;
    position: absolute;
    left: 50%;
    top: 70px;
    width: 1020px;
    min-height: 400px;
    background-color: $c-snow;
    padding: 20px 40px 50px;
    transform: translateX(-50%);
    border-radius: 4px;


    ul{
        list-style: none;
        margin: 30px 0 0 0;
        padding: 0;
        column-count: 6;
        column-gap: 40px;

        li{
            position: relative;
            margin-bottom: 12px;
            transition: opacity .3s ease;
            opacity: 1;

            span{
                text-align: right;
                display: block;
                background-color: $c-snow;
                width: 24px;
                @include font-set(tiny);
                position: absolute;
                pointer-events: none;
            }
            a{
                padding-left: 32px;
                pointer-events: none;
            }

            &.off{
                opacity: .3;
            }

            &.on{
                a{
                    pointer-events: all;

                    &::after{
                        display: inline-block;
                        content: "";
                        width: 5px;
                        height: 5px;
                        background-color: $c-black;
                        border-radius: 3px;
                        vertical-align: middle;
                        margin-left: 8px;
                    }
                }
            }
        }
    }
}