.section-head{
    width: 100%;
    border-top: 1px solid $c-border;
    padding: 20px 0 50px 0;
    margin-top: 80px;
}

.section-foot{
    padding: 40px 0 0 0;
    text-align: right;

    &.left{
        text-align: left;
    }
}

section.col-two{
    display: flex;
    flex-direction: row-reverse;

    section:first-child{
        min-width: 280px;
        margin-left: calc(min(8%, 160px));
    }

    .section-head{
        margin-top: 20px;
        border-top: none;
    }
}

.item{
    display: flex;

    .left{
        img{
            max-width: 100%;
            height: auto;
        }
    }

    .right{
        flex: 1;
        display: flex;
        flex-direction: column;

        .item-body{
            flex-grow: 1;

            p{
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        .item-footer ul{
            
            list-style: none;
            padding: 8px 0;
            margin: 0;

            display: flex;

            li{
                list-style: none;
                padding: 0;
                margin: 0;
                margin-right: $s-small;
            }

            li, a{
                @include font-set(tiny);
                color: $c-light;
            }
        }
    }
}

.item-article{
    border-top: 1px solid $c-border;
    padding: 20px 0;
    
    &:first-of-type{
        border-top: none;
    }
    
    .left{
        width: 30%;
        max-width: 260px;
        margin-right: 24px;
    }

    .right{
        .item-body p{
            -webkit-line-clamp: 2;
        }
    }
}

.item-topic{
    flex-direction: column;

    .right{
        flex-direction: column-reverse;

        .item-body p{
            -webkit-line-clamp: 5;
        }

        .item-footer{
            border-bottom: 1px solid $c-border;
            margin-bottom: 16px;

            ul{
                li:last-child{
                    margin-right: 0;
                    flex-grow: 1;
                    text-align: right;
                }
            }
        }
    }
}

.item-book{
    .left{
        max-width: 100px;
        margin-right: 24px;
    }
}

.item-video{
    flex-direction: column;

    .right{
        flex-direction: column-reverse;

        .item-footer{
            border-bottom: 1px solid $c-border;
        }

        .item-body{
            margin-top: 10px;
            .excerpt{
                display: none;
            }
            .terms{
                margin-top: 20px;
                @include font-set(tiny);
                a{ color: $c-silver; }
            }
        }
    }
}

.post{
    &>.left{
        margin: 0 auto;
        img{
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }
    &>.right{
        margin: 0 auto;

        .post-head{
            display: flex;
            flex-direction: column-reverse;
            h1{
                margin: 40px auto;
                max-width: 740px;
                width: 100%;
            }
            .post-meta{
                border-bottom: 1px solid $c-border;
                padding: 16px 0;
                
                ul{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    @include font-set(tiny);
                    color: $c-light;

                    li{
                        margin-right: 20px;
                    }
                }
            }
        }
        .post-body{
            margin: 0 auto;
            max-width: 740px;

            p{
                @include font-set(large);
            }
        }
        .post-foot{
            @include font-set(small);
            margin: 40px auto;
            max-width: 740px;
        }
    }
}

.post-article{
    .left{
        max-width: 1000px;
    }
    .right{
        max-width: 1000px;
    }
}

.post-book{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    .left{
        flex: 3;
        box-sizing: border-box;
        padding-right: 5%;
    }
    .right{
        .post-head{
            flex-direction: column;
            h1{
                max-width: none;
                margin: 0 0 20px 0;
            }
            .post-meta{
                border-top: 1px solid $c-border;
                margin-top: 20px;
            }
        }
        .post-body{
            margin-top: 40px;
        }
    }
}

.post-topic{
    display: flex;
   &>.left{
        flex: 3;
        box-sizing: border-box;
        padding-right: 5%;
        position: relative;

        img{
            position: sticky;
            top: 120px;
        }
    }
    &>.right{
        flex: 7;
        max-width: 1000px;
        .post-head{
            flex-direction: column;
            h1{
                max-width: none;
                margin: 0 0 20px 0;
            }
            .post-meta{
                border-top: 1px solid $c-border;
                margin-top: 40px;
            }
            p{
                @include font-set(large);
            }
        }
        .post-body{
            max-width: none;
            margin-top: 20px;

            p{
                @include font-set(body);
            }

            .collection{
                position: relative;
                padding: 20px 0 20px 60px;
                border-bottom: 1px solid $c-border;

                &>span{
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    @include font-set(small);
                    display: block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background-color: $c-border;
                    border-radius: 20px;
                    transition: all .4s ease;
                }

                &:hover>span{
                    background-color: $c-light;
                    color: $c-white;
                }

                .item-article{
                    padding: 0;
                }
                .item-book{
                    max-width: none;
                    .left{
                        width: 30%;
                        max-width: 260px;
                        margin-right: 24px;
                        a{
                            display: block;
                            max-width: 100px;
                            margin: 0 auto;
                        }
                    }
                }
                .item-video{
                    max-width: none;
                    flex-direction: row;
                    .left{
                        width: 30%;
                        max-width: 260px;
                        margin-right: 24px;
                    }
                    .right{
                        flex-direction: column;
                        .item-body{
                            margin-top: 0;
                        }
                        .item-footer{
                            border:none;
                        }
                    }
                }

            }
        }
    }
}

.post-video{
    .left{
        max-width: 1000px;
        .embed-video{
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            max-width: 100%;

            iframe{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    .right{
        max-width: 1000px;
    }
}

.page-head{
    border-bottom: 1px solid $c-border;
    padding: 20px 0 40px 0;
}

.list{
    &-col2{
        display: grid;
        grid-template-columns: 280px 1fr;
        column-gap: 30px;
    }

    &-col1{

    }

    .list-left{
        margin-top: 60px;
        h3{
            margin-bottom: 20px;
        }
        .cloud{
            display: flex;
            flex-direction: column;

            a{
                @include font-set(body);
                margin-bottom: 4px;
            }
        }
    }
    .list-right{
        margin-top: 40px;
    }

    &.topics .list-right{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
        grid-gap: 60px 2%;
    }
    &.books .list-right{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-gap: 40px 5%;
        .box{
            padding-bottom: 30px;
            border-bottom: 1px solid $c-border;
        }
    }
    &.videos .list-right{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
        grid-gap: 40px 2%;
        .box{
            padding-bottom: 30px;
        }
    }
}

section{
    &.topic .section-body{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
        grid-gap: 60px 2%;
    }
    &.book .section-body{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-gap: 40px 5%;
    }
    &.article .section-body{
        .box{
            border-bottom: 1px solid $c-border;
            &:last-child{
                border-bottom: none;
            }
        }
    }
    &.video .section-body{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
        grid-gap: 40px 1%;
    }
}

.page-content{
    max-width: 1000px;
    margin: 0 auto;

    img{
        margin: 20px 0;
        max-width: 100%;
        height: auto;
    }
    .page-body{
        max-width: 740px;
    }
}

.page-terms{
    .page-body{
        padding: 40px 0;
        column-count: 3;
        column-gap: 10%;
        a{
            display: block;
        }
    }
}